@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

@theme {
  --font-bebas: "Bebas", sans-serif;
  --font-dmsans: "DM Sans", sans-serif;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-bebas);
  }

  p, button {
    font-family: var(--font-dmsans);
  }
}

/* @custom-variant dark (&:where(.dark, .dark *)); */